@import 'normalize';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #333333;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 120px auto;
}

.header {
    margin-bottom: 40px;

    .title-4 {
        margin: 0 0 15px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #898F8F;
        text-transform: uppercase;
    }

    .title-1 {
        margin: 0 0 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 1.1;
        color: #FFCC00;
        text-transform: uppercase;
    }

    .logo {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 210px;
            height: 1px;
            background-color: #FFCC00;
            position: absolute;
            bottom: 50%;
            left: 25px;
        }

        &::before {
            content: '';
            display: block;
            width: 210px;
            height: 1px;
            background-color: #FFCC00;
            position: absolute;
            bottom: 50%;
            right: 25px;
        }
    }
}

.main {
    padding: 70px 0;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: #FFCC00;
        position: absolute;
        left: 50%;
        top: 0;
    }
}

.section {
    padding: 0 50px;

    @include flex(space-between, center, none);

    .photo, .descr {
        max-width: 430px;
    }

    .photo {
        @include flex(center, center, none);

        width: 430px;
        height: 430px;
        border: 1px solid #FFCC00;
        position: relative;
        z-index: 1;

        & > span::after {
            content: '';
            display: block;
            width: 440px;
            height: 440px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: rotate(45deg);
        }
    }

    .descr {
        &__title {
            margin-bottom: 60px;
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            font-weight: 900;
            line-height: 1.17;
            color: #666666;
        }

        &__subtitle {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.5;
            color: #666666;
        }

        &__socials {
            @include flex(center, center, 5px);

            margin-bottom: 49px;
        }

        &__text {
            margin-bottom: 49px;
            font-weight: 500;
        }

        &__btn {
            padding: 5px 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            color: #666666;
            text-transform: uppercase;
            background: none;
            border: 1px solid #FFCC00;

            &:hover {
                background: #FFCC00;
            }
        }
    }

    .social {
        &__link {
            @include flex(center, center, none);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid #CCCCCC;

            &:hover .social__icon{
                fill: #FFCC00;
            }
        }

        &__icon {
            fill: #CCCCCC;
        }
    }
}

